<p id="notice"><%= notice %></p>

<p>
  <strong>Название месяца:</strong>
  <%= @month.month_name %>
</p>

<%= link_to 'Редактировать', edit_month_path(@month), class: 'btn btn-dark' %> 
<%= link_to 'Назад', months_path, class: 'btn btn-outline-dark' %>
