<p id="notice"><%= notice %></p>

<p>
  <strong>Method:</strong>
  <%= @method_payment.method %>
</p>

<%= link_to 'Edit', edit_method_payment_path(@method_payment) %> |
<%= link_to 'Back', method_payments_path %>
